# Task : Session 1
Solve these questions own your own and try to test yourself what you have learned in the session.

Happy Learning!

### Q1 :- Print the given strings as per stated format.

**Given strings**:
```
"Data" "Science" "Mentorship" "Program"
"By" "CampusX"
```
**Output**:
```
Data-Science-Mentorship-Program-started-By-CampusX
```

Concept- [Seperator and End]

In [2]:
# Write your code here
print("Data","Science","Mentorship","Program","started","By",sep='-')
print("-CampusX")

Data-Science-Mentorship-Program-started-By
-CampusX

### Q2:- Write a program that will convert celsius value to fahrenheit.

In [13]:
celcius = float(input('enter the temp in celcius'))

faren = celcius * (9/5) + 32

print(faren,'F')

enter the temp in celcius25
77.0 F

### Q3:- Take 2 numbers as input from the user.Write a program to swap the numbers without using any special python syntax.

In [12]:
# Write your code here

a = 3
b = 5

temp = a
a = b
b = temp

print(a)
print(b)

5
3

### Q4:- Write a program to find the euclidean distance between two coordinates.Take both the coordinates from the user as input.

In [11]:

# Write your code here
p1x = int(input('enter x cood of 1st point'))
p1y = int(input('enter y cood of 1st point'))
p2x = int(input('enter x cood of 2nd point'))
p2y = int(input('enter y cood of 2nd point'))

distance = ((p2x - p1x)**2 + (p2y - p1y)**2)**0.5

print(round(distance,2))

enter x cood of 1st point2
enter y cood of 1st point3
enter x cood of 2nd point4
enter y cood of 2nd point2
2.24

3### Q5:- Write a program to find the simple interest when the value of principle,rate of interest and time period is provided by the user.

In [9]:
# Write your code here
p = int(input('Enter amount'))
t = int(input('Enter time period'))
r = float(input('Enter rate'))

interest = (p*t*r)/100

print('the interest is',interest)

Enter amount10000
Enter time period2
Enter rate5
the interest is 1000.0

### Q6:- Write a program that will tell the number of dogs and chicken are there when the user will provide the value of total heads and legs.

For example:
Input:
heads -> 4
legs -> 12
<br>
Output:
dogs -> 2
chicken -> 2

In [8]:
# Write your code here
heads=int(input("Enter heads: "))
legs=int(input("Enter legs:"))
#2C+4D=L
#C+D=H
#C=H-D
#2(H-D)+4D=L
#2H-2D+4D=L
#2H-2D=L
#2D=L-2H
#D=(L-2H)/2
dogs=(legs-2*heads)//2;
chicken=heads-dogs;
print(dogs)
print(chicken)

Enter heads: 4
Enter legs:12
2
2

### Q7:- Write a program to find the sum of squares of first n natural numbers where n will be provided by the user.

In [14]:
# Write your code here
n=int(input("Enter a number: "))

result=(n*(n+1)*(2*n+1))/6
print(result)

Enter a number: 5
55.0

### Q8:- Given the first 2 terms of an Arithmetic Series.Find the Nth term of the series. Assume all inputs are provided by the user.

In [16]:
# Write your code here
t1=int(input("Enter first term: "))
t2=int(input("Enter second term:"))
n=int(input("Enter n: "))

#calcu;ate common diff
d=t2-t1

#calulate the nth term using formula
tn=t1+(n-1)*d
print(tn)

Enter first term: 3
Enter second term:6
Enter n: 5
15

### Q9:- Given 2 fractions, find the sum of those 2 fractions.Take the numerator and denominator values of the fractions from the user.

In [18]:
# Write your code here
a=int(input("Enter numerator of first fraction: "))
b=int(input("Ennter denominator of second fraction:"))
c=int(input("Enter numerator of second fraction:"))
d=int(input("Enter denominator of second fraction:"))
numerator=a*d+b*c
denominator=b*d
print(numerator,"/",denominator)

Enter numerator of first fraction: 3
Ennter denominator of second fraction:7
Enter numerator of second fraction:2
Enter denominator of second fraction:11
47 / 77

### Q10:- Given the height, width and breadth of a milk tank, you have to find out how many glasses of milk can be obtained? Assume all the inputs are provided by the user.



Input:<br>
Dimensions of the milk tank<br>
H = 20cm, L = 20cm, B = 20cm
<br><br>
Dimensions of the glass<br>
h = 3cm, r = 1cm

In [22]:
# Write your code here
import math

h_t = float(input('height'))
b_t = float(input('breadth'))
l_t = float(input('length'))

h_g = float(input('height of glass'))
r_g = float(input('radius of the glass'))

vol_tank = h_t*b_t*l_t
vol_glass = 3.14*r_g*r_g*h_g

print('no of glasses',math.floor(vol_tank/vol_glass))

height10
breadth5
length2
height of glass6
radius of the glass3
no of glasses 0