### `Problem 1`: Write a program that will give you in hand monthly salary after deduction on CTC - HRA(10%), DA(5%), PF(3%) and taxes deduction as below:

> Salary(Lakhs) : Tax(%)

*   Below 5 : 0%
*   5-10 : 10%
*   10-20 : 20%
*   aboove 20 : 30%

In [7]:
# Write code here
ctc=int(input("Enter CTC :"))
if ctc<500000:
  salary=ctc * .82
elif ctc <1000000:
  salary=ctc * .72
elif ctc <2000000:
  salary=ctc * .62
else:
  salary=ctc * .52

print('Your inhand salary will be-',round(salary/12,2))

Enter CTC :600000
Your inhand salary will be- 36000.0

0### `Problem 2`: Write a program that take a user input of three angles and will find out whether it can form a triangle or not.

In [9]:
# Write code here
a=int(input("Enter angle 1: "))
b=int(input("Enter angle 2: "))
c=int(input("Enter angle 3: "))
sum=a+b+c
if sum==180 and a>0 and b>0 and c>0:
  print("It's a triangle .")
else :
  print("Not a Triangle .")

Enter angle 1: 130
Enter angle 2: -1
Enter angle 3: 50
Not a Triangle .

### `Problem 3`: Write a program that will take user input of cost price and selling price and determines whether its a loss or a profit.

In [10]:
# Write code here
cp=int(input("Enter Cost price :"))
sp=int(input("Enter Selling price :"))

if cp > sp :
  print('LOSS')
else :
  print('PROFIT')

Enter Cost price :2500
Enter Selling price :2800
PROFIT

### `Problem 4`: Write a menu-driven program -
1. cm to ft
2. km to miles
3. USD to INR
4. exit

In [15]:
# Write code here
ch=int(input('Enter the choice:\n1. cm to ft \n2. km to miles \n3. USD to INR \n4. exit\n:'))
if ch==1:
  cm=int(input('Enter cm:'))
  ft=cm*0.032
  print(ft)
elif ch==2:
      km=int(input('Enter km:'))
      miles=km*0.62
      print(miles)
elif ch==3:
    usd=int(input('Enter usd:'))
    inr=usd*80
    print(inr)
else:
  print("Thank you !")

Enter the choice:
1. cm to ft
2. km to miles
3. USD to INR
4. exit
:1
Enter cm:15
0.48

### `Problem 5` - Exercise 12: Display Fibonacci series up to 10 terms.

*Note: The Fibonacci Sequence is a series of numbers. The next number is found by adding up the two numbers before it. The first two numbers are 0 and 1. For example, 0, 1, 1, 2, 3, 5, 8, 13, 21. The next number in this series above is 13+21 = 34*

In [12]:
# Write code here
a=0
b=1
i=1

print(a)
print(b)
while i<9:

  temp=a+b
  print(temp)

  a=b

  b=temp
  i+=1

0
1
1
2
3
5
8
13
21
34

### `Problem 6` - Find the factorial of a given number.

Write a program to use the loop to find the factorial of a given number.

The factorial (symbol: `!`) means to multiply all whole numbers from the chosen number down to 1.

For example: calculate the factorial of 5

```bash
5! = 5 × 4 × 3 × 2 × 1 = 120
```

Output:

```bash
120
```

In [14]:
# Write code her
num=int(input('Enter the number:'))
fact=1
for i in range(1,num+1):
     fact=fact*i
     i+=1
print(fact)

Enter the number:5
120

### `Problem 7` - Reverse a given integer number.

Example:

`Input:`

```bash
76542
```

`Output:`

```bash
24567
```

In [3]:
# Write code here
num=int(input('Enter the number:'))
length=len(str(num))
while(length>0):
  print(num%10,end='')
  num=num//10
  length-=1

Enter the number:12345
54321

### `Problem 8`: Take a user input as integer N. Find out the sum from 1 to N. If any number if divisible by 5, then skip that number. And if the sum is greater than 300, don't need to calculate the sum further more. Print the final result. And don't use for loop to solve this problem.

**Example 1:**

`Input:`

```bash
30
```

`Output:`

```bash
276
```

In [15]:

# Write code here
num = int(input('Enter number :'))
sum=0
for i in range (1,num+1) :
  if i % 5 == 0 :
    continue
  sum+=i
  if sum>300:
    sum-=i
    break
print(sum)

Enter number :50
276

### `Problem 9`: Write a program that keeps on accepting a number from the user until the user enters Zero. Display the sum and average of all the numbers.

In [16]:
# Write code here
sum=0
count=0
while True:
  num=int(input('Enter the number:'))
  if num==0 :
    break
  sum=sum+num
  count+=1
print('sum',sum)
print('count',count)

Enter the number:1
Enter the number:2
Enter the number:3
Enter the number:0
sum 6
count 3

###`Problem 9`: Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a comma-separated sequence on a single line.

In [18]:
# Write code here
for i in range(2000,3201) :
  if i%7==0 and i%5!=0 :
    print(i,end=',')

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199,

###`Problem 10`: Write a program, which will find all such numbers between 1000 and 3000 (both included) such that each digit of the number is an even number. The numbers obtained should be printed in a space-separated sequence on a single line.

In [22]:
# Write code here
for i in range (1000,3001):
  flag = True
  curr=i
  while curr>0 :
    last=curr%10
    if last%2!=0:
      flag=False
      break
    curr=curr//10
  if flag==True:
    print(i,end=',')

2000,2002,2004,2006,2008,2020,2022,2024,2026,2028,2040,2042,2044,2046,2048,2060,2062,2064,2066,2068,2080,2082,2084,2086,2088,2200,2202,2204,2206,2208,2220,2222,2224,2226,2228,2240,2242,2244,2246,2248,2260,2262,2264,2266,2268,2280,2282,2284,2286,2288,2400,2402,2404,2406,2408,2420,2422,2424,2426,2428,2440,2442,2444,2446,2448,2460,2462,2464,2466,2468,2480,2482,2484,2486,2488,2600,2602,2604,2606,2608,2620,2622,2624,2626,2628,2640,2642,2644,2646,2648,2660,2662,2664,2666,2668,2680,2682,2684,2686,2688,2800,2802,2804,2806,2808,2820,2822,2824,2826,2828,2840,2842,2844,2846,2848,2860,2862,2864,2866,2868,2880,2882,2884,2886,2888,

###`Problem 11`: A robot moves in a plane starting from the original point (0,0). The robot can move toward UP, DOWN, LEFT and RIGHT with a given steps.
The trace of robot movement is shown as the following:
```
UP 5
DOWN 3
LEFT 3
RIGHT 2
!
```
> The numbers after the direction are steps.

> `!` means robot stop there.

**Please write a program to compute the distance from current position after a sequence of movement and original point.**

*If the distance is a float, then just print the nearest integer.*

Example:

`Input`:
```
UP 5
DOWN 3
LEFT 3
RIGHT 2
!
```
`Output`:
```
2
```

In [1]:
# Write code here
pos=[0,0]
while True:
  s=input('Enter the robot path :')
  if s=='!':
    break
    movement=s.split()
    direction=movement[0]
    steps=int(movement[1])
    if direction=='UP':
      pos[1]+=steps
    elif direction=='DOWN':
      pos[1]-=steps
    elif direction=='LEFT':
      pos[0]-=steps
    elif direction=='RIGHT':
      pos[0]+=steps
    else:
      pass
ans=((pos[1]**2)+(pos[0]**2)**0.5)
print(ans)

Enter the robot path :UP 5
Enter the robot path :DOWN 5
Enter the robot path :LEFT 5
Enter the robot path :RIGHT 5
Enter the robot path :!
0.0

###`Problem 12`:Write a program to print whether a given number is a prime number or not

In [5]:
# Write code here
cnt=0
num=int(input('Enter the number :'))
for i in range (2,num) :
  if num%i==0 :
    cnt+=1
    break
if cnt==0 :
  print('Prime')
else :
  print('Not prime')

Enter the number :6
Not prime

###`Problem 13`:Print all the Armstrong numbers in a given range.
Range will be provided by the user<br>
Armstrong number is a number that is equal to the sum of cubes of its digits. For example 0, 1, 153, 370, 371 and 407 are the Armstrong numbers.

In [3]:
# Write code here
num=int(input('Enter the number :'))
sum_of_cubes = sum(int(digit) ** 3 for digit in str(num))
if sum_of_cubes==num :
  print('Armstrong')
else :
  print('Not Armstrong')

Enter the number :152
Not Armstrong

###`Problem 14`:Calculate the angle between the hour hand and minute hand.

Note: There can be two angles between hands; we need to print a minimum of two. Also, we need to print the floor of the final result angle. For example, if the final angle is 10.61, we need to print 10.

Input:<br>
H = 9 , M = 0<br>
Output:<br>
90<br>
Explanation:<br>
The minimum angle between hour and minute
hand when the time is 9 is 90 degress.

In [5]:
# Write code here
import math

H=int(input("Enter the hour (0,12):"))
M=int(input('Enter the minute (0,60):'))

hour_angle=0.5*(H*60+M)
minute_angle=6*M

angle=abs(hour_angle-minute_angle)
angle=min(360-angle,angle)
print(math.floor(angle))

Enter the hour (0,12):10
Enter the minute (0,60):22
179

###`Problem 15`:Given two rectangles, find if the given two rectangles overlap or not. A rectangle is denoted by providing the x and y coordinates of two points: the left top corner and the right bottom corner of the rectangle. Two rectangles sharing a side are considered overlapping. (L1 and R1 are the extreme points of the first rectangle and L2 and R2 are the extreme points of the second rectangle).

Note: It may be assumed that the rectangles are parallel to the coordinate axis.

<img src='https://www.geeksforgeeks.org/wp-content/uploads/rectanglesOverlap.png' width='300' height='200'>

In [ ]:
# Write code here